.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  @include reset-list;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.nav__tel {
  font-size: 24px;
}