.hero {
  padding: 20px 0;
}

.hero__title {
  text-align: center;
  font-size: 68px;
  color: #ff0000;
  letter-spacing: 5px;
  line-height: 0;
  position: relative;
  z-index: 1;
  margin: 0;
  padding-top: 150px;

  &::after {
    content: "Что вас ждёт";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    font-family: "Besom";
    font-size: 180px;
    letter-spacing: 10px;
    color: #eaebeb;
    z-index: -1;
  }
}

.hero__box {
  margin-top: 150px;
}

.hero__list {
  @include reset-list;
  background-image: url("../img/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;

  &::before {
    content: "Start";
    display: block;
    color: #ff0000;
    font-size: 24px;
    line-height: 24px;
    position: absolute;
    right: calc(50% - 380px);
    top: calc(50% - 540px);
  }

  &::after {
    content: "Finish";
    display: block;
    color: #ff0000;
    font-size: 24px;
    line-height: 24px;
    position: absolute;
    left: calc(50% - 260px);
    bottom: calc(50% - 510px);
  }
}

.hero__mini-box {
  max-width: 260px;
}

.hero__item{
  display: flex;
  align-items: center;
  max-width: 700px;

  &:nth-child(even) {
    margin-left: auto;
  }

  &::before {
    content: "";
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 20px;
    }
}

.hero__item--knowledge {

  &::before{
    width: 527px;
    height: 297px;
    background-image: url("../img/knowledge.png");
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: calc(50% - 360px);
    top: calc(50% - 500px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff0000;
    flex-shrink: 0;
    box-shadow: 0 0 0 5px rgba(255, 0, 0, .3);
  }
}



.hero__item--skills::before {
  width: 373px;
  height: 417px;
  margin-top: -100px;
  margin-bottom: -100px;
  background-image: url("../img/skills.png");
}

.hero__item--extreme::before {
  width: 374px;
  height: 325px;
  background-image: url("../img/extreme.png");
}

.hero__item--stres {

  &::before {
    width: 393px;
    height: 321px;
    background-image: url("../img/stres.png");
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 235px);
    bottom: calc(50% - 475px);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ff0000;
    flex-shrink: 0;
    box-shadow: 0 0 0 5px rgba(255, 0, 0, .3);
  }
}

@include breakpoint-down (1053) {

  .hero__title{
    font-size: 7vw;
    &::after {
      font-size: 15vw;
    }
  }

  .hero__list::after {
    bottom: calc(50% - 450px);
  }

  .hero__item {

    &:nth-child(even) {
      flex-direction: row-reverse;
    }

    &:last-child {
      flex-direction: column;
      max-width: 400px;
      margin-left: auto;
    }
  }

  .hero__item--stres::after {
    bottom: calc(50% - 400px);
  }

  .hero__item--knowledge {

    &::after {
      top: calc(50% - 580px);
    }
  }
}

@include breakpoint-down (780) {

  .hero__list {
    background-image: none;

    &::before {
      right: calc(50% - 20px);
      top: -2%;
    }

    &::after {
      left: calc(50% - 25px);
      bottom: -5%;
    }
  }

  .hero__mini-box {
    width: 100%;
    max-width: 100%;
  }

  .hero__item {
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    margin-bottom: 70px;

    &:last-child {
      margin-right: auto;
      max-width: 100%;
    }

    &:nth-child(even) {
      flex-direction: column;
    }
  }

  .hero__item--knowledge {

    &::after {
      right: 50%;
      top: -3.5%;
    }
  }

  .hero__item--stres {


    &::after {
      left: 50%;
      bottom: -2.5%;
    }
  }

  .hero__item--skills::before {
    max-width: 373px;
    height: 417px;
    margin-top: -50px;
    margin-bottom: -40px;
  }
}

@include breakpoint-down (625) {

  .hero__title{
    font-size: 7vw;

    &::after {
      font-size: 13vw;
      bottom: -8px;
    }
  }

  .hero__item{
    display: flex;
    align-items: center;
    max-width: 700px;

    &:nth-child(even) {
      margin-left: auto;
      margin-right: auto;
    }

    &::before {
      margin-right: 0;
      width: 100%;
      }
  }

}

@include breakpoint-down (450) {

  .hero__title{
    font-size: 6vw;

    &::after {
      font-size: 12vw;
    }
  }
}

@include breakpoint-down (395) {

  .hero__title{
    font-size: 6vw;

    &::after {
      font-size: 11vw;
    }
  }
}

@include breakpoint-down (352) {

  .hero__title{
    font-size: 6vw;

    &::after {
      font-size: 10vw;
      bottom: -4%;
    }
  }
}

@include breakpoint-down (337) {

  .hero__title{
    font-size: 6vw;

    &::after {
      font-size: 9vw;
      bottom: -3%;
    }
  }

  .hero__item {
    margin-bottom: 30px;

    &::before {
      margin-bottom: -40px;
    }
  }

  .hero__item--skills::before {
    margin-top: -100px;
    margin-bottom: -100px;
  }
}